.bar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.negative-box {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.h3{
    font-size: 1.75rem;
}
.marginb3{
    margin-bottom: 1rem!important;
}
.info-box{
    margin-top: .5rem;
    margin-bottom: 2rem;
    border: none;
    /*border-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;*/
    box-shadow: 0 2px 3px rgb(0 0 0 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
}
.info-container{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #3c394b;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.item{
    margin-right: 0.75rem;
}
.h4{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    /*color:#e85915;*/
}
.h5{
    font-size: 1.25rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
.top-left-ornament{
    pointer-events: none;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 8px solid #e85915;
    /*border-left: 40px solid #e85915;*/
    border-bottom: 40px solid transparent;
    border-radius: .25rem .25rem 0 0;
}
.HeaderBox{
    margin-bottom: 0!important;
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    position: relative;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.input-body{
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 992px){
.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    }
}
.stack{
    background: #413d50;
    border-radius: 8px;
    box-shadow: 0 2px 3px rgb(10 10 10 / 20%), 0 0 0 1px rgb(10 10 10 / 20%);
    margin-bottom: 1.5rem;
}
.stack-wav{
    background-color: #772929;
    border-bottom-color: #511c1c;
}
.stack-extra{
    background-color: #304581;
    border-bottom-color: #22315c;
}
.stack-header{
    border-radius: 8px 8px 0 0;
    font-weight: 700;
    padding: 3px 16px;
    padding-bottom: 4px;
    font-size: .9rem;
}
.stack-not-last{
    border-bottom: 1px solid rgba(10,10,10,.2);
}
.stack-mem{
    margin-bottom: 0!important;
    margin-top: 0!important;
    padding: 8px 16px!important;
    background-color: #484459;
}
.stack-first-mem{
    box-shadow: 0 -1px 0 0 rgb(10 10 10 / 20%);
    border-top-left-radius: 8px 8px;
    border-top-right-radius: 8px 8px;
}
.stack-last{
    border-bottom-left-radius: 8px 8px;
    border-bottom-right-radius: 8px 8px;
}
.inputField{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: none;
	outline: none;
	background-color: #fff;
	color: #222222;
	border-radius: 4px;
	padding-left: 5px;
	padding-right: 5px;
}
.information{
	top: 100px;
	min-width: 0;
    max-width: 350px;
	background: transparent;
}
.error{
    text-align: left;
    margin-left: auto;
    margin-right: 3rem;
    font-size: 16px;
    color: orange;
    background-color: transparent;
    opacity: 0;
  }
.Process{
    text-align: left;
    margin-left: auto;
    margin-right: 3rem;
    font-size: 18px;
    color: lawngreen;
    background-color: transparent;
    opacity: 0;
}
.BadError{
    text-align: left;
    margin-left: auto;
    margin-right: 3rem;
    font-size: 16px;
    color: #cd2210;
    background-color: transparent;
    opacity: 0;
}