.extra-container-bg{
    background-color: #3a94cd;
    max-width: none;
}
.navbar-holder {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 50;
}
.nav-negative-box {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.nav-list{
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
}
.nav-link a{
	color: #d9d9d9;
	text-decoration: none;
	background-color: transparent;
	font-size: 1.1rem;
}
.nav-link a:hover{
	color: #f2f2f2;
}
.nav-link a::after{
	content: '';
	width: 0%;
	height: 1px;
	background: #f2f2f2;
	display: block;
	margin: auto;
}
.nav-link a:hover::after{	
	width: 100%;
}

.leading-items{
    scrollbar-width: none;
}
.trailing-items{
    /* Might need this for something else? */
    display: flex;
}
.pad-right{
	margin-right: 20px;
}
.sep{
	margin-right: 8px;
}
/* Dropdown menu section 
   Also from an old project. */
.item{
	background: transparent;
	display: block;
    position: relative;
    min-width: 20rem;
	padding: .5rem 1rem;
	margin: 0;
	border: none;
}

.item a{
	color: #d9d9d9;
	text-decoration: none;
	text-align: left;
}

.item a:hover{
	color: #f2f2f2;
}

.menuOpener{
	color: #d9d9d9;
	cursor: pointer;
	margin-left: 40px;
}
.menuOpener:hover{
	color: #f2f2f2;	
}

#dropdown{
	display: none;
	list-style: none;
}
#dropdown.active{
	background: rgba(49,44,57,.97);
	box-shadow: 0 3px 10px rgb(0 0 0 / 40%), inset 0 0 0 1px rgb(255 255 255 / 20%);
	display: block;
    position: absolute;
    z-index: 50;
    left: 1rem;
    right: unset;
	border-radius: 8px;
	padding: .1rem 1px;
	border-top: none;
    margin-top: 30px;
	margin-bottom: 1rem;
	margin-left: 85px;
	list-style: none;
}